<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employees">Employees</a>
        </li>
    </ul>
    <br />
    <router-outlet></router-outlet>
</div>



<!--<div>
    <h1>
        {{getFullName()}}
    </h1>
    <br /><br />
    <input [(ngModel)] ="name"/>
    <br />
    You entered : {{name}}
    <my-employee></my-employee>

    <list-employee></list-employee>
</div>-->
